/* Author(s): Andrew
reference from https://clerk.com/blog/building-a-react-login-page-template
*/
#changePasswordFormContainer {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
}

#changePasswordFormContainer h1 {
  display: flex;
  flex-direction: column;
  font-size: 32px;
  font-weight: bolder;
  align-items: center;
  justify-content: center;
}

#changePasswordFormContainer .buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 260px;
}

#changePasswordFormContainer .formGroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-top: 12px;
  padding-bottom: 12px;
}

#changePasswordFormContainer .formGroup > .inputLabel {
  padding-top: 8px;
  padding-bottom: 8px;
}

#changePasswordFormContainer .error-label {
  color: red;
  font-size: 16px;
}

#changePasswordFormContainer .inputBox {
  height: 48px;
  width: 400px;
  font-size: large;
  border-radius: 8px;
  border: 1px solid grey;
  padding-left: 8px;
}

#changePasswordFormContainer input[type="text"] {
  all: revert;
  height: 48px;
  width: 400px;
  font-size: large;
  border-radius: 8px;
  border: 1px solid grey;
  padding-left: 8px;
}


#changePasswordFormContainer button {
  border: none;
  background: #2d2d2d;
  color: white;
  padding: 12px 24px;
  margin: 8px;
  font-size: 20px;
  border-radius: 8px;
  cursor: pointer;
}

#changePasswordFormContainer .changeButton {
  display: flex;
  justify-content: flex-end;
}

#changePasswordFormContainer .successLabel, .errorLabel {
  font-size: 16px;
  color: white; /* Make text white for better contrast */
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  margin-top: 20px;
}

#changePasswordFormContainer .successLabel {
  background-color: green; /* Green background for success */
}

#changePasswordFormContainer .errorLabel {
  background-color: red; /* Red background for error */
}

#changePasswordFormContainer .messageContainer {
  display: flex;
  justify-content: center; /* Center the message */
  margin-top: 20px;
}