/* Author(s): Andrew
reference from https://clerk.com/blog/building-a-react-login-page-template
*/
#feedbackFormContainer {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
}

#feedbackFormContainer h1 {
  display: flex;
  flex-direction: column;
  font-size: 32px;
  font-weight: bolder;
  align-items: center;
  justify-content: center;
}

#feedbackFormContainer .buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 260px;
}

#feedbackFormContainer .formGroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-top: 12px;
  padding-bottom: 12px;
}

#feedbackFormContainer .formGroup > .inputLabel {
  padding-top: 8px;
  padding-bottom: 8px;
}

#feedbackFormContainer .error-Label {
  color: red;
  font-size: 16px;
}

#feedbackFormContainer .inputBox {
  height: 48px;
  width: 400px;
  font-size: large;
  border-radius: 8px;
  border: 1px solid grey;
  padding-left: 8px;
}

#feedbackFormContainer input[type="text"] {
  all: revert;
  height: 48px;
  width: 400px;
  font-size: large;
  border-radius: 8px;
  border: 1px solid grey;
  padding-left: 8px;
}

#feedbackFormContainer textarea {
  width: 100%;
  font-size: large;
  border-radius: 8px;
  border: 1px solid grey;
  padding: 8px;
  resize: vertical;
  min-height: 100px;
  max-height: none; 
  overflow: auto;
}


#feedbackFormContainer button {
  border: none;
  background: #2d2d2d;
  color: white;
  padding: 12px 24px;
  margin: 8px;
  font-size: 20px;
  border-radius: 8px;
  cursor: pointer;
}

#feedbackFormContainer .submitButton {
  display: flex;
  justify-content: flex-end;
}

#signupFormContainer .login-section {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

#feedbackFormContainer .login-section a {
  margin-left: 5px;
}

#feedbackFormContainer .successLabel, .errorLabel {
  font-size: 16px;
  color: white; /* Make text white for better contrast */
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  margin-top: 20px;
}

#feedbackFormContainer .successLabel {
  background-color: green; /* Green background for success */
}

#feedbackFormContainer .errorLabel {
  background-color: red; /* Red background for error */
}