/* Author(s): Andrew
reference from https://clerk.com/blog/building-a-react-login-page-template
*/

#WebsiteFeedbackFormContainer {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}


#WebsiteFeedbackFormContainer button {
  border: none;
  background: #2d2d2d;
  color: white;
  padding: 12px 24px;
  margin: 8px;
  font-size: 20px;
  border-radius: 8px;
  cursor: pointer;
}

#WebsiteFeedbackFormContainer .submitButton {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}


#WebsiteFeedbackFormContainer .error-message {
  color: red;
  font-size: 0.9rem;
  margin-top: 10px;
}

#WebsiteFeedbackFormContainer .formGroup {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 20px;
}

#WebsiteFeedbackFormContainer .inputLabel {
  font-size: 20px;
  color: #333;
  margin-bottom: 8px; 
}

#WebsiteFeedbackFormContainer .inputBox {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 100%;
  height: 150px;
}

#WebsiteFeedbackFormContainer .successLabel, .errorLabel {
  font-size: 16px;
  color: white; /* Make text white for better contrast */
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  margin-top: 20px;
}

#WebsiteFeedbackFormContainer .successLabel {
  background-color: green; /* Green background for success */
}

#WebsiteFeedbackFormContainer .errorLabel {
  background-color: red; /* Red background for error */
}

#WebsiteFeedbackFormContainer .messageContainer {
  display: flex;
  justify-content: center; /* Center the message */
  margin-top: 20px;
}
