#tabs button:hover,
#tabs button:focus {
  background-color: #292e32;
  color: white;
  border-color: #292e32;
  outline: none;
}

#tabs button {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  flex-grow: 1;
  margin: 0 5px;
}

#submitButton {
  float: right;
}

#tabs #submitButton:hover,
#tabs #submitButton:focus {
  background-color: #45a049 !important; 
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2) !important;
  border-color: #45a049;

}

#disconnection-text{
  color: red;
  float: right;
  padding: 12px ;
}

#submitCount {
  float: right;
  font-weight: bold;
  border-radius: 50%;
  padding: 10px 10px;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 20px;
}
